extends ../layouts/default.pug
block main
    header
      .button-back
        a(href="/") <i class="fa-solid fa-house"></i>
      .title #{book.title}
      .chapters
        span(onclick="toggleMenu()")
          i.fa-solid.fa-list
        .sub-menu.hidden
          each chapter in book.chapters
            a(href=`/books/${book._id}?page=${chapter.page}`) #{chapter.title}
  
    if book.file
      iframe(id="bookContent" src=`/books/${book.file}#page=${pageNumber}&pagemode=none` width="100%" height="600px")
    else
      p Sách chưa có file đọc trực tuyến.
    h3 Ghi chú của bạn:
    ul#notesList