extends ../layouts/default.pug
block main
    include ../partials/header.pug
    main
      h2 Tủ sách cá nhân
      .books
        each book in books
          .book
            a(href=`/detail/${book.id}`)
              img(src=`/images/${book.image}` alt=book.title)
            a(href=`/detail/${book.id}`)
              h4= book.title
            button(type='button' class='delete-btn' bookId=book.id) <i class="fa-solid fa-minus"></i>