extends ../layouts/default.pug
block main
    header
      .logo
        a(href='/')
          img(src='/images/logo-removebg.png', alt='Logo')
      .form
        form(action='/search' method='get')
          input(type='text' name='query' placeholder='Nhập tên sách')
          button(type='submit') 
            i(class='fa-solid fa-search') 
      .categories
        a(href='#') 
          i(class="fa-solid fa-list-ul")
          span Thể loại
        ul.sub-menu
          li: a(href='/categories/toan-hoc') Toán học
          li: a(href='/categories/van-hoc') Văn học
          li: a(href='/categories/khoa-hoc') Khoa học
          li: a(href='/categories/lich-su') Lịch sử
      .bookshelf
        a(href='/bookshelf') 
          i(class="fa-solid fa-book-open")
          span Tủ sách cá nhân
    main
      h2 Tủ sách cá nhân
      .books
        each book in books
          .book
            a(href=`/detail/${book.id}`)
              img(src=`/images/${book.image}` alt=book.title)
            a(href=`/detail/${book.id}`)
              h4= book.title
            button(type='button' class='delete-btn' bookId=book.id) <i class="fa-solid fa-minus"></i>