extends ../layouts/default.pug
block main
  include ../partials/header.pug
  main
    .book-detail
      .book-img
        img(src=`/images/${book.image}` alt=book.title)
      .book-info
        .title 
          h3= book.title
        .author 
          span Tác giả: 
          a(href=`/authors/${book.author}`) #{book.author}
        .category 
          span Thể loại: 
          a(href=`/categories/${book.category.id}`) #{book.category.name}
        .description
          span Mô tả: #{book.description}
        .actions
          button(id="readBtn" type='button' bookId=book.id) Đọc sách
    .book-chapters
      h4 Danh sách chương:
      ul
        each chapter in book.chapters
          li
            a(href=`/books/${book.id}?page=${chapter.page}`) #{chapter.title}

