extends ../layouts/default.pug
block main
  include ../partials/header.pug
  main
    h2 Sách mới
    .books.new
      each book in newBooks
        .book
          a(href=`/detail/${book.id}`)
            img(src=`/images/${book.image}` alt=book.title)
          a(href=`/detail/${book.id}`)
            h4= book.title
    h2 Sách hot
    .books.hot
      each book, index in books
        .book
          a(href=`/detail/${book.id}`)
            img(src=`/images/${book.image}` alt=book.title)
          a(href=`/detail/${book.id}`)
            h4= book.title
      
    button(type='button' class='load-more') Xem thêm
